#container{
display: grid;
grid-template-columns:repeat(8, 4em);
grid-template-rows:repeat(6, 5em);
}


.item{
    border: 2px solid black;
    background-color: rgb(8, 238, 238);
}

.item-1{
    grid-column-start: 3;
    grid-column-end: 6;

    grid-row-start: 2;
    grid-row-end: 6;
}

.item2{
    
}

.item3{
   
}


.item8{
    width: 50%;
    height: 50%;
    justify-self: stretch;   
}