body{background-color:rgb(117, 21, 4);
     font-family: "EB Garamond", serif;
  p{
    font-size:100;}

    p{
        font-family:"roboto",sans-serif;
        font-size:1rem;
    }
    
    
    
    img{height: 200px;}
        width: 400px;}